@import '../utils/mixins';
@import '../components/modeNuit';
@import '../components/btns';
@import '../components/sideBar';

header {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6vh 80vh 14vh;
    grid-template-areas:
        "nav nav"
        "h1 profil"
        "btn btn";

    @media screen and (max-width: 1350px) {
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "nav nav"
            "h1 profil"
            "btn profil";
    }

    @media screen and (max-width: 1230px) and (max-height: 600px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40vh 60vh;
        grid-template-areas:
            "h1 btn"
            "profil profil";
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 30vh 60vh 10vh;
        grid-template-areas:
            "h1 h1"
            "profil profil"
            "btn btn";
    }

    @media screen and (max-width: 920px) and (max-height: 1400px) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 30vh 60vh 10vh;
        grid-template-areas:
            "h1 h1"
            "profil profil"
            "btn btn";
    }

    @media screen and (max-width: 900px) and (max-height: 600px) {
        grid-template-rows: 50vh 100vh 10vh;
    }

    @media screen and (max-width: 930px) and (max-height: 420px) {
        grid-template-rows: 60vh 100vh 20vh;
    }

    @media screen and (max-width: 900px) and (max-height: 330px) {
        grid-template-rows: 60vh 120vh 20vh;
    }

    @media screen and (max-width: 500px) and (max-height: 600px) {
        grid-template-rows: 50vh 90vh 10vh;
    }

    @media screen and (max-width: 750px) and (max-height: 360px) {
        grid-template-rows: 50vh 90vh 50vh;
    }

    @media screen and (max-width: 360px) {
        grid-template-rows: 30vh 65vh 5vh;
    }

    @media screen and (max-width: 395px) and (max-height: 855px) {
        grid-template-rows: 30vh 65vh 5vh;
    }

    @media screen and (max-width: 670px) and (max-height: 380px) {
        grid-template-rows: 40vh 135vh 5vh;
    }

    nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: 80% 10% 10%;
        position: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid $color2;
        top: 0px;
        transition: 0.3s;
        z-index: 3;
        background: $bg1;

        @media screen and (max-width: 900px) {
            display: none;
        }

        ul {
            display: flex;

            li {
                width: 200px;
                font-size: 1.1rem;
                transition: .2s ease-in-out;

                &:hover {
                    background: $bg3;
                    border-left: 1px solid $color2;
                    border-right: 1px solid $color2;
                }

                a {
                    @include center;
                    height: 100%;
                    color: $color1;
                }
            }
        }

        .logo {
            height: auto;
            width: 100%;
            @include center;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .description {
        grid-area: profil;
        width: 85%;
        margin: 0 auto;
        transform: translateY(60px);
        position: relative;

        @media screen and (max-width: 920px) {
            transform: translateY(0px);
        }

        @media screen and (max-width: 900px) {
            transform: none;
        }

        #description {
            padding: 7px;
            border-radius: 5px;
            font-size: clamp(1.5rem, 1.5vw, 2rem);
            box-shadow: 3px -2px 4px 1px rgba(12, 149, 164, 0.578);
            font-weight: 100;
            line-height: 40px;
            text-align: left;


            @media screen and (max-width: 1550px) {
                margin-top: 0px;
                line-height: 37px;
            }

            @media screen and (max-width: 1230px) and (max-height: 600px) {
                line-height: 30px;
            }

            @media screen and (max-width: 900px) {
                display: none;
                line-height: 30px;
            }
        }

        .description-responsive {
            display: none;

            @media screen and (max-width: 900px) {
                display: block;
                border-radius: 5px;
                box-shadow: 3px -2px 4px 1px rgba(12, 149, 164, 0.578);
                text-align: left;
                line-height: 35px;
                font-size: clamp(1.2rem, 1vw, 2rem);
                padding: 5px;
            }

            @media screen and (max-width: 600px) {
                font-size: clamp(1rem, 1vw, 2rem);
            }

            @media screen and (max-width: 600px) {
                line-height: 25px;
            }

            @media screen and (max-width: 350px) {
                line-height: 20px;
            }

            @media screen and (max-width: 500px) and (max-height: 800px) {
                line-height: 20px;
            }
        }
    }

    .titre {
        grid-area: h1;
        @include center;

        h1 {
            font-size: clamp(3.3rem, 6vw, 9rem);
            text-shadow: 1px 2px 3px $color1;
            text-transform: uppercase;
        }
    }
}